{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">


        <h2>Trading view</h2>


        <ul>

            some graphics!
{#            <li class="deactivate">#}
{#                <a href="/accounts/"><span class="glyphicon glyphicon-log-out"></span> Get accounts </a>#}
{#            </li>#}
            <li>{{ graph }}</li>

{#            {% for row in graph %}#}
{#                <li>{{ row.when }}{{ row }}</li>#}
{#            {% endfor %}#}

            {#{% for greeting in greetings %}#}
            {#    <li>{{ greeting.when }}</li>#}
            {#{% endfor %}#}

        </ul>

    </div>

{% endblock %}